@keyframes blink {
  0% {
    background: violet;
  }
  14.3% {
    background: indigo;
  }
  28.6% {
    background: blue;
  }
  42.9% {
    background: green;
  }
  57.2% {
    background: yellow;
  }
  71.5% {
    background: orange;
  }
  85.8% {
    background: red;
  }
  100% {
    background: violet;
  }
}
body {
  animation: blink 20s linear infinite;
-webkit-animation: blink 20s linear infinite;
}
#marqueee {
  margin-left: 100px;
  border: 30px dashed;
  border-color: mediumspringgreen;
  background-color: black;
}
h1 {
  font-family: 'Dancing Script', cursive;
  text-decoration: underline wavy violet;
  height: 50px;
  color: white;
  font-weight: 1000;
  font-size: 40px;
}
h1::selection {
  background: indianred;
  color: white;
}
h2 {
  color: white;
  width: 300px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Play', sans-serif;
  margin-left: 600px;
}
mark {
  color: white;
}
